{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ request.user.username | capfirst }} Settings{% endblock %}


{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'customer_home' id=customer.id %}" class="text-warning">My Profile </a>
    </li>
    <li class="breadcrumb-item">Settings</li>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4 card card-body">
            <h3 class="text-center card card-header">Edit your information</h3>
            <hr>
            <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form | crispy }}
        <input type="submit" value="Edit" class="btn btn-success btn-block" />
    </form>
        </div>

        <div class="col-md-4"></div>
    </div>

{% endblock %}